.checkout {
    display: flex;
    padding: 20px;
    background-color: aliceblue;
    height: max-content;
}
.checkout__title {
    margin-left: 10px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    height: max-content;
}
.checkout__ad {

    width: 90%;
    margin-bottom: 10px;
}
.checkout__image {
    width: 10%;
    

}